@model FilterUsersViewModel
@{
    
}
<link rel="stylesheet" type="text/css" href="~/css/login.css">
<div class="row" id="adminUsersContainer">
    <h1>Search users for editing</h1>
    <form method="get">
        <div class="col-xs-3">
            <input asp-for="FilterString" class="form-control" placeholder="Search by email or username..." />
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Banning</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.Username</td>
                        <td>@user.Role.ToString()</td>
                        <td>@if (user.Banning == null) { <span>N/A.</span> } else { <span>@user.Banning</span> }</td>
                        <td>@Html.ActionLink("Edit user", "EditUser", "Login", new { UserId = user.UserId }, new { @class = "btn btn-default" })</td>
                        <td>@Html.ActionLink("Edit user's goals", "UserGoals", "Goals", new { UserId = user.UserId }, new { @class = "btn btn-default" })</td>
                    </tr>
                }
                @if (Model.Users.Count <= 0)
                { 
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        <br />
        @if (Model.Users.Count > 0) { <span>* These are the first @Model.Users.Count user(s) found based on the filter action.</span> }
    </div>
</div>