@model SingleDiscussionViewModel
@{
    ViewData["Title"] = Model.Discussion.Title;
}

<div class="row">
    <div id="topicContainer" class="row">
        <div class="col-xs-1 likes">
            <div id="likeContainer">
                <p>
                    Likes: @Model.Discussion.Likes
                </p>
                <form asp-action="LikeUnlikeDiscussion" method="post">
                    <input type="hidden" asp-for="DiscussionId" name="DiscussionId" />
                    <button type="submit" class="btn btn-default">Like</button>
                </form>
            </div>
        </div>
        <div class="col-xs-11">
            <h1>@Model.Discussion.Title</h1>
            <p>@Model.Discussion.Content</p>
            <p>
                Posted by <b>@Model.Discussion.Submitter.Username</b> on <b>@Model.Discussion.PostDT</b>
            </p>
        </div>
    </div>
<div class="row">
</div>
    @foreach (var comment in Model.Discussion.Comments)
    {
        <div id="comment" class="row">
            <div class="col-xs-1 likes">
                <div id="likeContainer">
                    <p>
                        Likes: @comment.Likes
                    </p>
                    <form asp-action="LikeUnlikeComment" method="post">
                        <input type="hidden" asp-for="@comment.CommentId" name="CommentId" />
                        <input type="hidden" asp-for="DiscussionId" name="DiscussionId" />
                        <button type="submit" class="btn btn-default">Like</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-11">
                <p>
                    @if (comment.Hidden == false)
                    {
                        @comment.Content
                    }
                    else
                    {
                        <span>This comment has been hidden due to a violation of the rules.</span>
                    }
                </p>
                <p>
                    Posted by <b>@comment.Submitter.Username</b> on <b>@comment.PostDT</b>
                </p>            
                <br />                
                @if (User.IsInRole("Admin"))
                {
                    <form asp-action="HideUnhideComment" method="post">
                        <input type="hidden" asp-for="@comment.CommentId" name="CommentId" />
                        <input type="hidden" asp-for="DiscussionId" name="DiscussionId" />
                        <button type="submit" class="btn btn-default">Hide comment</button>
                    </form>
                }
                @*<button onclick="ReactToComment('@comment.Content','@comment.Submitter.Username','@comment.PostDT');">React</button>*@
            </div>
        </div>
    }

    @if (Model.Discussion.Locked == false)
    {
    <form method="post" action="PostComment" id="commentForm">
        <input type="hidden" asp-for="Discussion.DiscussionId" name="DiscussionId" />
        <input type="hidden" asp-for="UserId" name="UserId" />
        <div class="col-xs-12">
            <textarea id="yourComment" asp-for="@Model.Entry" placeholder="Type your comment here..."></textarea><br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form>
    }
    else
    {
        <span>You cannot comment on a locked discussion.</span>

    }
</div>